{% extends 'base.html'%}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <h1>WELCOME TO PITCHES WEBSITE</h><br>
      <P>click on button to create a pitch <a href={{ url_for('main.create_pitches') }}><button>Create Pitch</button></a></P>
      {% for kigali in all_pitches %}
      <div class="container">         
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Pitches</th>
              <th>category</th>
              <th>comments</th>
              </tr>
<tr>
              <td>{{kigali.content}}</td>
              
              <td>{{kigali.category}}</td>
              
              <td><a href="/comment/new/{{kigali.id}}"><button>comment</button></a></td> 
            </tr>
          </thead>
         
        </table>
      </div>
       
      {% endfor %}
{% endblock%}
